#contact_container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 120.69% */
    letter-spacing: -1px;
    width: 100%;
    margin-top: 80px;


}