#header_container {
    height: 60px;
    width: 100%;
    // background-color: bisque;
    display: flex;
    justify-content: end;
    align-items: center;

    div {
        text-align: right;
    }

    :global .logo-section {
        width: 130px;
        margin-left: 20px;
        border-left: #666 1px solid;
        display: flex;
        justify-content: space-around;
        padding-left: 16px;
    }

    :global .nav-section {
        width: 615px;
        display: flex;
        justify-content: space-between;
        color: #666;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }

}