#techstack_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    flex-direction: column;

    :global .header-section {
        color: #42446E;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;

        p {
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            color: #666;
        }
    }

    :global .icons-section {
        padding: 5% 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div {
            width: 20%;
            display: flex;
            flex-direction: column;
            margin-top: 24px;

            span {
                padding-top: 16px;
                text-align: center;
            }

        }

    }
}